xs/webgpu.xs            -diff   linguist-generated
xs/webgpu.c             -diff   linguist-generated
typemap                 -diff   linguist-generated
lib/WebGPU/Direct/XS.pm -diff   linguist-generated
